.homepage section[role=main] {
    margin-left: 120px;
}

.feedTitle {
  width: 250px;
  font-size: 24pt;
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
    }
}

@media screen and (-ms-view-state: portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
    }
}
